.active {
  color: rgb(217, 255, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  padding: 20px 15px;
}
.active:hover {
  color: black;
}
.nonactive {
  text-decoration: none;
  color: black;
  padding: 20px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nonactive:hover {
  color: rgb(217, 255, 0);
}
